<div class="container">
        <div class="row">
            <span class="fa fa-tachometer fa-5x  col-xs-2"></span>
            <span class=" col-xs-6">
                <h1 >Dashboard</h1>
                <p> This is Your dashboard , all your info is kept safe.</p>
            </span>
            <span class=" col-xs-4">
                    <h3>132</h3>
                    <p>Total Session Conducted</p>
            </span>
        </div>
        <ul class="nav nav-tabs">
          <li ><a href="#">Account Settings</a></li>
          <li><a href="#">Previous Sessions</a></li>
          <li><a href="#">Edit Profile</a></li>
          <li class="active" ><a data-toggle="tab" href="#home">My Wallet</a></li>
        </ul>
    </div>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="container wallets"> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-credit-card fa-5x media-object" ></i>
                        </div>
                        <div class="media-body">
                            <p>Current Balance</p>
                            <h1 class="media-heading">4.295 EGP</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media  brdr">
                      <div class="media-left">
                        <i class="fa fa-money fa-3x  media-object" ></i>
                      </div>
                      <div class="media-body">
                        <h3>Upload funds to your account</h3>

                      </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="media  brdr">
                      <div class="media-left">
                        <i class="fa fa-credit-card fa-3x media-object" ></i>
                      </div>
                      <div class="media-body">
                        <h3>Withdraw funds from account</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
